body {
    font-family: Open Sans;
    background-color: #485058;
    color: #D7443F;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Birthstone;
    text-align: center;
    font-size: 50pt;
}


header {
    text-align: center;
}
/* Heros Section*/
#hero, footer {
    color: #D7443F;
    border: 2px solid #D7443F;
    background-color: #333A42;
    text-align: center;

}

#hero img {
    width: 350px;
}
/* Side section*/
#side {
    text-align: center;
}
/*Hobbies section*/
#hobbies ul li:nth-child(odd){
    color: #F1ECE9;
}

/*gallery section*/
#gallery {

    border: 2px solid #D7443F;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}
/*Literature*/
#lit {
    border: 2px solid #D7443F;
    margin-bottom: 2rem;
}

#lit div {
    padding: 2rem;
    max-width: 40rem
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both;
}
/* Drop caps*/

#lit div p::first-letter {
    color:#F1ECE9;
    font-family: Birthstone;
    float: left;
    font-size: 2.5rem;
    padding: 1rem;
    margin-right: .45rem;
    line-height: .55;
    border: 5px inset #D7443F;
    box-shadow: 2.5px 2.5px 2.5px;
    text-shadow: 5px 5px 5px;

}