body {
    font-family: Open Sans;
    background-color: #485058;
    color: #D7443F;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Birthstone;
    text-align: center;
}

h1 {
    font-size: 40pt;
}

header {
    text-align: center;
}

#hero, footer {
    color: #D7443F;
    border: 2px solid #D7443F;
    background-color: #333A42;
    text-align: center;

}

#hero img {
    width: 350px;
}

#side {
    text-align: center;
}

#hobbies ul li:nth-child(odd){
    color: #F1ECE9;
}